{{#each genres}}

<div class="checkbox col-xs-12">
		<input id="{{ this }}" type="checkbox" name="{{ this }}" value="{{ this }}" />
		<label for="{{ this }}">{{ this }}</label>
</div>

{{/each}}