{{#each songs}}

<div class="checkbox col-xs-12">
		<input id="{{ genre }}" type="checkbox" name="{{ genre }}" value="{{ genre }}" />
		<label for="{{ genre }}">{{ genre }}</label>
</div>

{{/each}}