{{#each songs}}

	<div class="song" value="{{title}}">

	<h3>{{ title }}</h3>
 	<p>{{ artist }} on {{ album }} - {{ genre }} </p>
 	<button class="btn btn-default edit" id="edit#{{ @key }}">Edit</button>
 	<button class="btn btn-default remove" id="remove#{{ @key }}">Remove</button>
</div>

{{/each}}
